/* action theme */

body  {
    background-color: #bdbdbd;
    background-image: url("../images/actionBG.png");
}

section,
aside  
{
    background-color: #424242;
    color: white;
    box-shadow: 5px 5px 8px black;
    padding: 20px;

}

h4 {
    color: white;
    font-family: 'Russo One', sans-serif; 
}

header  {
    background-color: #d50000;
    color: white;
    font-family: 'Russo One', sans-serif;    
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;

}

h4 {
    color: white;
    font-family: 'Russo One', sans-serif; 
}

nav {
    background-color: #d50000 ;
    padding-left: 20px;

}

.card {
    background-color: #d50000;
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

    body {
  background-image: none;
}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    body {
  background-image: none;
}

}
