/* action theme */

body  {
    background-color: #bdbdbd;
    background-image: url("../images/actionBG.png");
}

section,
aside  
{
    background-color: #424242;
    color: white;
}

h4, h5 {
    color: white;
    font-family: 'Russo One', sans-serif; 
}

header  {
    background-color: #d50000;
    color: white;
    font-family: 'Russo One', sans-serif;    
}

h4 {
    color: white;
    font-family: 'Russo One', sans-serif; 
}

nav {
    background-color: #d50000 ;
}

.card {
    background-color: #212121;
}

#add-media {
    background-color: #d50000;
    }

.hint, #fanpagr-text {
    color: white;
}

#footer {
    background-color: #d50000;
}

