/* comedy theme */

body  {
    background-color: #b3e5fc;
    background-image: url("../images/comedyBG.png");
}

nav {
    background-color: #40c4ff  ;

}

header  {
    background-color: #40c4ff;
    color: white;
    font-family: 'Syncopate', sans-serif;    
}

section,
aside  
{
    background-color: #80d8ff;
}

h4 {
    color: white;
    font-family: 'Syncopate', sans-serif;  
}

h5 {
    color: white;
    font-family: 'Syncopate', sans-serif;
    font-size: larger;
}

a {
    color: #01579b;
}

.card {
    background-color: #40c4ff;
}

#add-media {
    background-color: #40c4ff;
    }

#footer {
    background-color: #40c4ff;
}