/* comedy theme */

body  {
    background-color: #b3e5fc;
    background-image: url("../images/comedyBG.png");
}

section,
aside  
{
    background-color: #80d8ff;
}

header  {
    background-color: #40c4ff;
    color: white;
    font-family: 'Syncopate', sans-serif;    
}

h4 {
    color: white;
    font-family: 'Syncopate', sans-serif;  
}

nav {
    background-color: #40c4ff  ;

}

.card {
    background-color: #40c4ff;
}

