/* Default Theme */


header  {
    background-color: #ee6e73;
    color: white;
}

nav {
    background-color: #ee6e73;
}

section,
aside
{
    background-color: #ee6e73;
    color: white;
}

a {
    color: #01579b;
}

.card {
    background-color: #ef9a9a;
}

