/* Default Theme */


header  {
    background-color: #ee6e73;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

section,
aside
{
    background-color: #ee6e73;
    color: white;
    box-shadow: 5px 5px 8px black;
    padding: 20px;
    /* margin: 10px; */

}

nav {
    background-color: #ee6e73;
}

/* body  {
    background-color:#e0e0e0;
    background-image: url("../images/noirBG.jpg");
    background-size: cover;
} */
