/* CSS will go here */

/* romance theme */

header.romance  {
    background-color: #ad1457;
    color: white;
    font-family: 'Great Vibes', cursive;
    text-align: center;

}

section.romance  {
    background-color: #f8bbd0;
    color: black;
}

nav.romance  {
    background-color: #ad1457;
}

body.romance  {
    background-color: #fce4ec;
    background-image: url(images/romanceBG.jpg);
}


/* Sci Fi theme */

body.sciFi  {
    background-color: #efebe9;
    background-image: url(images/sciFiBG.jpg);
}

section.sciFi  {
    background-color: #a1887f;
}

header.sciFi  {
    background-color: #4e342e;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

nav.sciFi {
    background-color: #4e342e;
}

/* Noir Theme */


header.noir  {
    background-color: #212121;
    color: white;
    font-family: 'Great Vibes', cursive;
    text-align: center;

}

section.noir  {
    background-color: #9e9e9e;
    color: black;
}

nav.noir  {
    background-color: #212121;
}

body.noir  {
    background-color:#e0e0e0;
    background-image: url(images/noirBG.jpg);
}
