/* CSS will go here */

* { 
	box-sizing:border-box;
}

/* romance theme */

header.romance  {
    background-color: #ad1457;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    text-align: center;
    padding: 20px;

}

section.romance,
aside.romance
{
    background-color: #f8bbd0;
    color: black;
    box-shadow: 5px 5px 8px black;
    padding: 20px;
    /* margin: 5px; */
}

nav .romance  {
    background-color: #ad1457;
}

body nav .romance  {
    background-color: #fce4ec;
    background-image: url("../images/romanceBG.jpg");
    background-size: cover;
}


/* Sci Fi theme */

body.sciFi  {
    background-color: #efebe9;
    background-image: url("../images/sciFiBG.jpg");
    background-size: cover;

}

section.sciFi,
aside.sciFi  
{
    background-color: #a1887f;
    box-shadow: 5px 5px 8px black;
    /* opacity: .95; */
    padding: 20px;

}

header.sciFi  {
    background-color: #4e342e;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

nav.sciFi {
    background-color: #4e342e;
}
 
/* Noir Theme */


header.noir  {
    background-color: #212121;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

section.noir,
aside.noir
{
    background-color: #9e9e9e;
    color: black;
    box-shadow: 5px 5px 8px black;
    padding: 20px;
    /* margin: 10px; */

}

nav.noir  {
    background-color: #212121;
}

body.noir  {
    background-color:#e0e0e0;
    background-image: url("../images/noirBG.jpg");
    background-size: cover;
}
