/* horror theme */

body  {
    background-color: #cfd8dc;
    background-image: url("../images/horrorBG.png");
}

section,
aside  
{
    background-color: #455a64;
}

h4 {
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
}

header  {
    background-color: #37474f ;
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
}

h4 {
    color: white;
    font-family: 'IM Fell DW Pica SC', serif;
}

nav {
    background-color: #37474f;
}

.card {
    background-color: #37474f ;
}

.synopsis {
    color: white;
}