/* kidstheme */

body  {
    background-color: #d7ccc8;
    background-image: url("../images/kidsBG.png");
}

section,
aside  
{
    background-color: #9575cd;
}

header  {
    background-color: #4527a0;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}

h4 {
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}

nav {
    background-color: #ff5722  ;
}

.card {
    background-color: #4527a0;
}

