/* kidstheme */

body  {
    /* background-color: #d7ccc8; */
    background-image: url("../images/kidsBG.png");
    background-size: cover;

}

section,
aside  
{
    background-color: #9575cd;
    box-shadow: 5px 5px 8px black;
    padding: 20px;

}

header  {
    background-color: #4527a0;
    color: white;
    /* font-family: 'Orbitron', sans-serif; */
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;

}

nav {
    background-color: #ff5722  ;
    padding-left: 20px;

}
