/* kidstheme */

body  {
    background-color: #d7ccc8;
    background-image: url("../images/kidsBG.png");
}

nav {
    background-color: #ff5722  ;
}

header  {
    background-color: #4527a0;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}

section,
aside  
{
    background-color: #9575cd;
}

h4, h5 {
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}

.card {
    background-color: #4527a0;
}

.synopsis {
    color: white;
}

#add-media {
    background-color: #12a075;
    }

#footer {
    background-color: #ff5722;
}