/* Noir Theme */

body  {
    background-color:#e0e0e0;
    background-image: url("../images/noirBG.png");
}

nav {
    background-color: #212121;
}

header  {
    background-color: #212121;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

section,
aside
{
    background-color: #9e9e9e;
    color: black;
}

h4, h5 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    background-color: #212121;
}

.hint {
    color: white;
}

#fanpagr-text {
    color: white;
}

#add-media {
    background-color: #ffffff;
    color: black;
}

#footer {
    background-color: #212121;
}

