/* Noir Theme */


header  {
    background-color: #212121;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

section,
aside
{
    background-color: #9e9e9e;
    color: black;
}

nav {
    background-color: #212121;
}

body  {
    background-color:#e0e0e0;
    background-image: url("../images/noirBG.png");
}

.card {
    background-color: #212121;
}

#fanpagr-text {
    color: white;
}

