/*romance theme */

header  {
    background-color: #ad1457;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;

}

section,
aside
{
    background-color: #f8bbd0;
    color: black;
    box-shadow: 5px 5px 8px black;
    padding: 20px;
}

nav {
    background-color: #ad1457;
    padding-left: 20px;

}

body  {
    background-color: #fce4ec;
    background-image: url("../images/romanceBG.png");
    /* background-size: cover; */
    background-repeat: repeat;
}

#search-text {
    color: rgb(255, 211, 255);
}

#add-media {
    color: black;
    background-color: #f8bbd0;
    border-width: 0;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
}

#fanpagr-text {
    color: #fce4ec;
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

    body {
  background-image: none;
}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    body {
  background-image: none;
}

}

