/*romance theme */

header  {
    background-color: #ad1457;
    color: white;
    font-family: 'Great Vibes', cursive;
}

h4 {
    color: white;
    font-family: 'Great Vibes', cursive;
}

section,
aside
{
    background-color: #f8bbd0;
    color: black;
}

nav {
    background-color: #ad1457;
}

body  {
    background-color: #fce4ec;
    background-image: url("../images/romanceBG.png");
}

.card {
    background-color: #ad1457;
}

#search-text {
    color: rgb(255, 211, 255);
}

#add-media {
    color: black;
    background-color: #f8bbd0;
    border-width: 0;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
}

#fanpagr-text {
    color: #fce4ec;
}

