/* sci fi theme */

body  {
    background-color: #d7ccc8;
    background-image: url("../images/sciFiBG.png");
}

section,
aside  
{
    background-color: #a1887f;
}

header  {
    background-color: #4e342e;
    color: rgba(143, 248, 143, 0.925);
    font-family: 'Orbitron', sans-serif;
}

h4, h5 {
    color: rgba(143, 248, 143, 0.925);
    font-family: 'Orbitron', sans-serif;
}

nav {
    background-color: #4e342e;
}

.card {
    background-color: #4e342e;
}

#add-media {
    background-color: #4e342e;
    }

#search-text {
    color: white;
}

#footer {
    background-color: #4e342e;
}


