/* sci fi theme */

body  {
    background-color: #d7ccc8;
    background-image: url("../images/sciFiBG.png");
    /* background-size: cover; */
    background-repeat: repeat;
}

section,
aside  
{
    background-color: #a1887f;
    box-shadow: 5px 5px 8px black;
    padding: 20px;

}

header  {
    background-color: #4e342e;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;

}

nav {
    background-color: #4e342e;
    padding-left: 20px;

}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

    body {
  background-image: none;
}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    body {
  background-image: none;
}

}

